body {
    background: #222;
}

.image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img {
    height: 30%;
    width: 30%;
    margin: 0 auto;
    display: inline-block;
    color: white;
    animation: InnerRotate 10s linear infinite;
}


.outer-rotate {
    width: 200px;
    height: 200px;
    border: 1px dashed red;
    margin: 0 auto;
    margin-bottom: 10%;
    animation: InnerRotate 10s linear infinite;
}

.inner-rotate {
    width: 200px;
    height: 200px;
    border: 1px solid white;
    animation: InnerRotate 10s linear infinite;
}

@keyframes OutterRotate {
    from {transform: rotate(-0deg);}
    to {transform: rotate(-360deg);}
}

@keyframes InnerRotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


