h2.first {
    background-color: #3e0276;
    height: 100px;
    text-align: center;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-family: sans-serif;
    /* overflow: hidden; */
}

.initial-text {
    display: block;
}

.first .link::after {
    content: attr(data-swipe-text);
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    display: block;
}
/* .swipe a:hover {
    transform: translateY(-100%);
}

.swipe a:hover::after {
    bottom: 0;
} */