h1 {
    background-color: #3e0276;
    padding-block: 50px;
    text-align: center;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-family: sans-serif;
    position: relative;
    overflow: hidden;
    background-color: red;
}

.initial-text {
    display: block;
}

.swipe a::after {
    content: attr(data-swipe-text);
    color: white;
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    display: block;
}
.swipe a:hover {
    transform: translateY(-100%);
}

.swipe a:hover::after {
    bottom: 0;
}